<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stavningsspel för barn</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="game-container">
    <div class="top-buttons">
      <button id="stavaBtn">STAVA</button>
      <button id="raknaBtn">RÄKNA</button>
    </div>
    
  <script src="/js/game.js"></script>
</body>
</html>
